@import "tailwindcss";

/* Mullish font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.mullish{
  font-family: "Mulish", sans-serif;
}

.main-container {
    max-width: 1600px;
    margin-inline: auto;
    padding: 0px 40px;
}